@using BlogSystem.ViewModels
@model PostViewModel

<h2>Update Post</h2>

@using (Html.BeginForm("Update", "Post", FormMethod.Post))
{
    <div>
        @Html.LabelFor(model => model.Name)
        @Html.TextBoxFor(model => model.Name, new { @class = "form-control" })
    </div>

    <div>
        @Html.LabelFor(model => model.Content)
        @Html.TextAreaFor(model => model.Content, new { @class = "form-control" })
    </div>

    <div>
        Created at: @Model.DateCreated 
    </div>

    <div>
        Created by: @Model.userName
    </div>

    <input type="submit" value="Update"/>
}
